*{
	font-family: 'Six Caps', sans-serif;
}
.wrapper1{
	width:100%;
	padding:1%;
	z-index: 20;

	background-position: center top;
	background-size: cover;
}
.wraithvideo{
	max-height: 50%;
	padding-left:6%

}
.vid{
	max-width:50%;
	max-height: 50%
}
.wrapper21{
	height:auto;
	background-color: rgb(35,35,35);
	padding: 2%;
	z-index: 2;
}

#wraithCarousel{
	// background-color: rgb(35,35,35);
	
	width:100%;
	height:auto;
	z-index: 2;
}
.wrapper1content{
	padding-left: 15%;
	padding-right: 5%;
	color:whitesmoke;
	text-align: justify;
	
}
.wrapper1content p{
	font-size: 16px;

}
.bio{
	padding-top: 3%;
}
.bio table{
	width:80%;
	
}