.container{
    width: 500px;
    height: 500px;
    border: 3px solid aqua;
    background-image: url(kitten01.jpg);
    background-size: 600px 600px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    color:red;
}