.container{
    border: 3px solid black;
    background-color: red;
    width: 200px;
    height: 200px;

}

.container1{
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 2;
    /*z-index= specifies which div or block will be placed above other div or blocks
     if they are in the same place by their number. Higher the number higher the precedence*/


}

.container2{
    border: 3px solid black;
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    top:280px;
    left:280px;
    z-index: 1;
}